@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: white;
  --background: #000000;
}

*{
  /*font-family: "Anton SC";*/
  /*font-family: "Arsenel";*/
  /*font-family: "Beiruti", serif;*/
  /*font-family: "Faculty Glyphic", serif;*/
  /*font-weight: 400;*/
  /*font-style: normal;*/
}

body {
  color: var(--foreground);
  background: var(--background);
}
